<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit or Delete</title>
</head>
<body>
<div>
    <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br>
        <br/>
        <input type="submit" value="Update!"/>
    </form>
    <br>
    <br/>
</div>
</body>
</html>